body{
    margin: 0;
    padding: 0;
    /* font-family: 'Baloo', cursive; */
    font-family: 'Montserrat', sans-serif;
}

.box{
    width: 205px;
    height: 150px;
}

.row{
    height: 150px;
    display: inline-block;
}

img{
    display: block;
    width: 150px;
    margin: 0 auto;
}

#gameContainer{
    width: 1280px;
    height: 1000px;
    margin: 0 auto;
}

#banner{
    width: 100%;
    height: 170px;
    background:white;
    margin: 0px 0px 36px 0px;
}

#messageBox{
    width: 500px;
    height: 150px;
    background:white;
    position: relative;
    top: -35px;
    left: 490px;
    opacity: 0;
    border-radius: 12px;
    font-size: 24px;
    display: none;
}

#closeBtn{
    position: absolute;
    top: 114px;
    left: 205px;
    width: 100px;
    height:30px;
    border-radius: 8px;
    background-color: white;
}

#copy{
    position: absolute;
    width: 500px;
    padding: 24px;
}

#control{
    width: 1280px;
    height: 100px;
    background: #50C5D0;
}

#btnContainer{
    box-sizing: border-box;
    /* padding: 4px 0px 0px 0px; */
    width: 320px;
    height: 30px;
    float: left;
}

#playerContainer{
    padding: 20px 0px 0px 0px;
    box-sizing: border-box;
    text-align: center;
    width: 320px;
    height: 100px;
    float: left;
    background: #FFCE1E;
    color: white;
    font-size: 30px;
    line-height: 60px;
}

#scoreContainer{
    padding: 20px 0px 0px 0px;
    box-sizing: border-box;
    text-align: center;
    width: 320px;
    height: 100px;
    float: left;
    font-size: 30px;
    color: white;
    line-height: 60px;
}

#timerContainer{
    padding: 20px 0px 0px 0px;
    box-sizing: border-box;
    text-align: center;
    width: 320px;
    height: 100px;
    float: left;
    background:  #FFCE1E;
    color: white;
    font-size: 30px;
    line-height: 60px;
}

#player1Container{
    width: 230px;
    height: 600px;
    background: #FFCE1E;
    background-position: center; 
    background-image: url("../imgs/cooper.png");
    background-repeat: no-repeat;
    background-size: 250px 250px;
    float: left;
    font-size: 24px;
    text-align: center;
    color: #EE2524;
    box-sizing: border-box;
    padding: 12px;
}

#container{
    width: 820px;
    height: 600px;
    float: left;
    background-color: white;
    box-sizing: border-box;
    cursor: pointer;
}

#player2Container{
    width: 230px;
    height: 600px;
    background: #50C5D0;
    background-position: center; 
    background-image: url("../imgs/butler.png");
    background-repeat: no-repeat;
    background-size: 250px 250px;
    float: left;
    font-size: 24px;
    text-align: center;
    color: #EE2524;
    box-sizing: border-box;
    padding: 12px;
}

#title{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    text-align: center;
    box-sizing: border-box;
    padding: 12px 0px 0px 0px;
    color: wheat;
}

#howToPlay{
    text-align: center;
    color:rgb(45, 45, 45);
    padding: 0px 0px 0px 5px;
    font-size: 1.5em;
    word-wrap: break-word; 
    margin-bottom: 50px;
}

#player1{
    width: 350px;
    height: 410px;
    background: tomato;
    float: left;
    border: 1px solid gray;
}

#player2{
    width: 350px;
    height: 410px;
    background: tomato;
    float: left;
    border: 1px solid gray;
}

.banner-image{
    margin: 50px 0 50px 0;
    width: 250px;
    height: auto;
    margin-bottom: 40px;

}

#startBtn{
    width: 100px;
    height: 80px;
    border-radius: 12px;
    margin: 10px 10px 10px 30px;
    font-size: 24px;
    /* background-color: #EE2524; */
    background-image: url("../imgs/btn-start.png");
    background-size: 100px 80px;
}

#startBtn:hover{
    background-color: #EE2524;
}

#restartBtn{
    width: 100px;               
    height: 80px;
    border-radius: 12px;
    margin: 10px 10px 10px 30px;
    font-size: 24px;
    background-color:white;
    background-image: url("../imgs/btn-reset.png");
    background-size: 100px 80px;
}

#footer{
    background: #f0f0f0;
    width: 1280px;
    height: 48px;
    float: left;
}

